@charset "UTF-8";
img {
    width: 400px;
}
label {
    display: inline-block;
    cursor: pointer;
}
.form-check-label{
    width: 100%;
}
.cardname{
    text-align: center;
}
.form-check-input{
margin-left:1rem;
}

*
/*p {
    text-align: left;
    align: center;
    padding: 3px;
    margin: 2px;
    color: #0b1707;
    background: #ffffff; /*背景色*/
}
/*p .buttonuser{
    position: absolute;;
    font-size: 1rem;
    line-height: 50px;
    width: 110px;
    height: 110px;
    padding: 0;
    letter-spacing: 0;
    color: #fff;
    border-radius: 50%;
    top: 13;
    left: 6;
    background: #d6249f;
}*/
/*p .buttonadmin{
    position: absolute;;
    font-size: 1rem;
    line-height: 50px;
    width: 110px;
    height: 110px;
    padding: 0;
    letter-spacing: 0;
    color: #fff;
    border-radius: 50%;
    background: #d6249f;
    right:60px;
    bottom: 30px;
}
*/

.toolListImg {
    width: 30%;
    cursor: grab;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

h1 {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 100vh;
  text-align: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
  background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
  background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
}
h2 {
  text:algin:center;
  argin-right:auto; margin-left:auto
  position: relative;
  height: 50 px;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  justify-content: center;
}
.userlogin{
    padding:10px;
    argin-right:auto; margin-left:auto
}
